.body-color {
  background-color: rgba(128, 128, 128, 0.495) !important;
}

.user-view {
  width: 300px;
  height: 220px;
}

.user-view .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidenav .user-view .name-wrapper {
  text-align: center;
  margin-top: 100px;
}

.sidenav .user-view .name {
  font-size: 24px;
  display: block;
}

.sidenav .user-view .phone {
  font-size: 15px;
  display: block;
  margin-top: 0px;
}

.title-ul-sidenav {
  padding: 0 32px;
  margin: 0;
  margin-top: 14px;
}
/******************************************/
.img-card {
  height: 170px;
}

.card .card-image .card-title {
  font-size: 15px;
  font-weight: 300;
  color: white;
  width: 100%;
  opacity: 0.7;
  margin-left: 3px;
  margin-bottom: -3px;
}

.card-title-shadow {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.542),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.889);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.542), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.889);
}

.pagination li {
  height: 35px;
  width: 35px;
}

.pagination li a {
  margin-top: 2px;
}

.pagination li i {
  margin-top: 3px;
}

.pagination li.active {
  background-color: #02334b;
}
